<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>metadata</key>
    <dict>
        <key>version</key>
		<string>2.0.0</string>
        <key>format</key>
        <integer>3</integer>
        <key>size</key>
        <string>{323.0,318.0}</string>
        <key>name</key>
        <string>Untitled</string>
        <key>textureFileName</key>
        <string>cannonSpriteSheet.png</string>
    </dict>
    <key>frames</key>
    <dict>
        <key>cannonElevated.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{40.0,41.0}</string>
            <key>spriteOffset</key>
            <string>{3.5,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{51.0,51.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{9.0,5.0},{40.0,41.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{275.0,167.0},{40.0,41.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>cannonElevatedFire1.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{37.0,38.0}</string>
            <key>spriteOffset</key>
            <string>{-3.0,-4.5}</string>
            <key>spriteSourceSize</key>
            <string>{51.0,51.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{4.0,11.0},{37.0,38.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{232.0,2.0},{37.0,38.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>cannonElevatedFire2.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{36.0,36.0}</string>
            <key>spriteOffset</key>
            <string>{-2.5,-5.5}</string>
            <key>spriteSourceSize</key>
            <string>{51.0,51.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{5.0,13.0},{36.0,36.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{232.0,42.0},{36.0,36.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>cannonElevatedFire3.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{41.0,44.0}</string>
            <key>spriteOffset</key>
            <string>{2.0,-1.5}</string>
            <key>spriteSourceSize</key>
            <string>{51.0,51.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{7.0,5.0},{41.0,44.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{232.0,163.0},{41.0,44.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>cannonElevatedFire4.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{48.0,48.0}</string>
            <key>spriteOffset</key>
            <string>{0.5,0.5}</string>
            <key>spriteSourceSize</key>
            <string>{51.0,51.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{2.0,1.0},{48.0,48.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{87.0,232.0},{48.0,48.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>cannonElevatedFire5.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{48.0,48.0}</string>
            <key>spriteOffset</key>
            <string>{-1.0,0.5}</string>
            <key>spriteSourceSize</key>
            <string>{50.0,51.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,1.0},{48.0,48.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{137.0,232.0},{48.0,48.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>cannonHigh.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{34.0,45.0}</string>
            <key>spriteOffset</key>
            <string>{-2.5,2.0}</string>
            <key>spriteSourceSize</key>
            <string>{51.0,51.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{6.0,1.0},{34.0,45.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{227.0,232.0},{34.0,45.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>cannonHighFire1.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{34.0,41.0}</string>
            <key>spriteOffset</key>
            <string>{-1.5,-4.0}</string>
            <key>spriteSourceSize</key>
            <string>{51.0,51.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{7.0,9.0},{34.0,41.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{232.0,80.0},{34.0,41.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>cannonHighFire2.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{33.0,38.0}</string>
            <key>spriteOffset</key>
            <string>{-1.0,-5.5}</string>
            <key>spriteSourceSize</key>
            <string>{51.0,51.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{8.0,12.0},{33.0,38.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{232.0,123.0},{33.0,38.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>cannonHighFire3.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{38.0,48.0}</string>
            <key>spriteOffset</key>
            <string>{1.5,0.5}</string>
            <key>spriteSourceSize</key>
            <string>{51.0,51.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{8.0,1.0},{38.0,48.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{187.0,232.0},{38.0,48.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>cannonHighFire4.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{40.0,49.0}</string>
            <key>spriteOffset</key>
            <string>{-1.5,1.0}</string>
            <key>spriteSourceSize</key>
            <string>{51.0,51.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{4.0,0.0},{40.0,49.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{45.0,232.0},{40.0,49.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>cannonHighFire5.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{41.0,52.0}</string>
            <key>spriteOffset</key>
            <string>{1.0,1.0}</string>
            <key>spriteSourceSize</key>
            <string>{47.0,54.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{4.0,0.0},{41.0,52.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{2.0,232.0},{41.0,52.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>cannonNormal.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{42.0,35.0}</string>
            <key>spriteOffset</key>
            <string>{0.5,-4.0}</string>
            <key>spriteSourceSize</key>
            <string>{51.0,51.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{5.0,12.0},{42.0,35.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{227.0,279.0},{42.0,35.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>cannonNormalFire2.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{40.0,32.0}</string>
            <key>spriteOffset</key>
            <string>{-1.5,-7.5}</string>
            <key>spriteSourceSize</key>
            <string>{51.0,51.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{4.0,17.0},{40.0,32.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{87.0,282.0},{40.0,32.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>cannonNormalFire3.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{45.0,37.0}</string>
            <key>spriteOffset</key>
            <string>{-1.0,-4.0}</string>
            <key>spriteSourceSize</key>
            <string>{51.0,51.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{2.0,11.0},{45.0,37.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{271.0,92.0},{45.0,37.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>cannonNormalFire4.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{48.0,42.0}</string>
            <key>spriteOffset</key>
            <string>{-0.5,-1.5}</string>
            <key>spriteSourceSize</key>
            <string>{51.0,51.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{1.0,6.0},{48.0,42.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{271.0,48.0},{48.0,42.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>cannonNormalFire5.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{48.0,44.0}</string>
            <key>spriteOffset</key>
            <string>{-1.5,-0.5}</string>
            <key>spriteSourceSize</key>
            <string>{51.0,51.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,4.0},{48.0,44.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{271.0,2.0},{48.0,44.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>cannonWildcard2.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{42.0,34.0}</string>
            <key>spriteOffset</key>
            <string>{0.5,-6.5}</string>
            <key>spriteSourceSize</key>
            <string>{51.0,51.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{5.0,15.0},{42.0,34.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{275.0,131.0},{42.0,34.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
                <string>cannonNormalFire1.png</string>
                <string>cannonWildcard.png</string>
            </array>
        </dict>
        <key>cannonball.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{16.0,16.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{16.0,16.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{16.0,16.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{2.0,286.0},{16.0,16.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>made-with-zwoptex</key>
        <dict>
            <key>spriteSize</key>
            <string>{228.0,228.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{228.0,228.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{228.0,228.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{2.0,2.0},{228.0,228.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
    </dict>
</dict>
</plist>
