<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>metadata</key>
    <dict>
        <key>version</key>
		<string>2.0.0</string>
        <key>format</key>
        <integer>3</integer>
        <key>size</key>
        <string>{306.0,283.0}</string>
        <key>name</key>
        <string>Untitled</string>
        <key>textureFileName</key>
        <string>CatapultSpriteSheet.png</string>
    </dict>
    <key>frames</key>
    <dict>
        <key>catapult/Catapult_1.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{75.0,39.0}</string>
            <key>spriteOffset</key>
            <string>{-0.5,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{76.0,43.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,2.0},{75.0,39.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{143.0,232.0},{75.0,39.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>catapult/Catapult_2.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{70.0,39.0}</string>
            <key>spriteOffset</key>
            <string>{0.5,0.5}</string>
            <key>spriteSourceSize</key>
            <string>{75.0,44.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{3.0,2.0},{70.0,39.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{232.0,2.0},{70.0,39.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>catapult/Catapult_3.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{67.0,47.0}</string>
            <key>spriteOffset</key>
            <string>{2.5,-2.0}</string>
            <key>spriteSourceSize</key>
            <string>{72.0,53.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{5.0,5.0},{67.0,47.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{2.0,232.0},{67.0,47.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>catapult/Catapult_4.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{75.0,39.0}</string>
            <key>spriteOffset</key>
            <string>{-0.5,1.5}</string>
            <key>spriteSourceSize</key>
            <string>{76.0,44.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,1.0},{75.0,39.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{220.0,232.0},{75.0,39.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>catapult/Catapult_5.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{70.0,41.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.5}</string>
            <key>spriteSourceSize</key>
            <string>{76.0,48.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{3.0,4.0},{70.0,41.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{71.0,232.0},{70.0,41.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>made-with-zwoptex</key>
        <dict>
            <key>spriteSize</key>
            <string>{228.0,228.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{228.0,228.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{228.0,228.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{2.0,2.0},{228.0,228.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
    </dict>
</dict>
</plist>
