<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>wood_block_circle</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>isSensor</key>
                        <false/>
                        <key>fixture_type</key>
                        <string>POLYGON</string>
                        
						<key>polygons</key>
						<array>
							<array>	
								<string>{ -37.50000,7.50000 }</string>	
								<string>{ -31.50000,20.50000 }</string>	
								<string>{ 32.50000,-20.50000 }</string>	
								<string>{ 10.50000,-37.50000 }</string>	
								<string>{ -5.50000,-37.50000 }</string>	
								<string>{ -20.50000,-31.50000 }</string>	
								<string>{ -31.50000,-20.50000 }</string>	
								<string>{ -37.50000,-7.50000 }</string>
							</array>
							<array>	
								<string>{ 22.50000,32.50000 }</string>	
								<string>{ 32.50000,22.50000 }</string>	
								<string>{ 37.50000,13.50000 }</string>	
								<string>{ 38.50000,8.50000 }</string>	
								<string>{ -22.50000,29.50000 }</string>	
								<string>{ -13.50000,34.50000 }</string>	
								<string>{ -2.50000,37.50000 }</string>	
								<string>{ 10.50000,37.50000 }</string>
							</array>
							<array>	
								<string>{ 10.50000,-37.50000 }</string>	
								<string>{ 32.50000,-20.50000 }</string>	
								<string>{ 21.50000,-32.50000 }</string>
							</array>
							<array>	
								<string>{ -31.50000,20.50000 }</string>	
								<string>{ -22.50000,29.50000 }</string>	
								<string>{ 38.50000,8.50000 }</string>	
								<string>{ 37.50000,-8.50000 }</string>	
								<string>{ 32.50000,-20.50000 }</string>
							</array>
						</array>
                        
					</dict>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>isSensor</key>
                        <false/>
                        <key>fixture_type</key>
                        <string>POLYGON</string>
                        
						<key>polygons</key>
						<array>
							<array>	
								<string>{ -37.50000,7.50000 }</string>	
								<string>{ -31.50000,20.50000 }</string>	
								<string>{ 32.50000,-20.50000 }</string>	
								<string>{ 10.50000,-37.50000 }</string>	
								<string>{ -5.50000,-37.50000 }</string>	
								<string>{ -20.50000,-31.50000 }</string>	
								<string>{ -31.50000,-20.50000 }</string>	
								<string>{ -37.50000,-7.50000 }</string>
							</array>
							<array>	
								<string>{ 22.50000,32.50000 }</string>	
								<string>{ 32.50000,22.50000 }</string>	
								<string>{ 37.50000,13.50000 }</string>	
								<string>{ 38.50000,8.50000 }</string>	
								<string>{ -22.50000,29.50000 }</string>	
								<string>{ -13.50000,34.50000 }</string>	
								<string>{ -2.50000,37.50000 }</string>	
								<string>{ 10.50000,37.50000 }</string>
							</array>
							<array>	
								<string>{ 10.50000,-37.50000 }</string>	
								<string>{ 32.50000,-20.50000 }</string>	
								<string>{ 21.50000,-32.50000 }</string>
							</array>
							<array>	
								<string>{ -31.50000,20.50000 }</string>	
								<string>{ -22.50000,29.50000 }</string>	
								<string>{ 38.50000,8.50000 }</string>	
								<string>{ 37.50000,-8.50000 }</string>	
								<string>{ 32.50000,-20.50000 }</string>
							</array>
						</array>
                        
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>




